<div class="container">
<h1> Posts </h1>

<h4> Create A New Post </h4>

<form>
 Title: <input type="text" name="firstname">
 <br/ >
 <br/ >
  Description: <input type="text" name="lastname">
  <br />
  <input type="submit" value="Submit">
</form>


<!-- <a href="#">Update</a>
<a href="#">Edit</a>
<a href="#">Destroy</a> -->



</div>
